<div id="about" class="aboutMe-content">
  <div class="aboutMe-infos">
    <img id="my-picture" src="assets/img/meinebild5.jpeg" />

    <div class="about-me">
      <h2>About me.</h2>
      <p>
        "I´m a Front-End Developer with a passion for both personal growth and
        for software development. Thus, I attended a 1000+ hour coding bootcamp
        to learn new languages while sharpening existing skills. Ready to apply
        my experience and skills to assist your engineering team."
      </p>
    </div>
  </div>

  <div class="my-journey">
    <div class="journey-text">
      <div class="journey-img">
        <img src="assets/img/walk-line.png" />
      </div>
      <h3>My Journey began</h3>
      <p>As a former IT Student I alwas enjoyed IT as a hobby.</p>
    </div>

    <div class="journey-text">
      <div class="journey-img">
        <img src="assets/img/heart-line.png" />
      </div>
      <h3>My passion</h3>
      <p>
        For this reason I decided to gain more experience developing projects
        and getting feedback from developers on my projects. Just to turn my
        hobby into my profession.
      </p>
    </div>

    <div class="journey-text">
      <div class="journey-img">
        <img src="assets/img/search-line.png" />
      </div>
      <h3>I searched</h3>
      <p>
        In Developer Akademie I had the opportunity to build a myriad of
        frontend projectes while getting feedback on my code.
      </p>
    </div>

    <div class="journey-text">
      <div class="journey-img">
        <img src="assets/img/flight-takeoff-line.png" />
      </div>
      <h3>New challenges</h3>
      <p>
        I am now happy to looking for new challenges to work as a software
        developer.
      </p>
    </div>
  </div>
</div>
