<div class="my-works-content" [class.slide]="router.url =='/myWorks'">

    <h2>My Works</h2>

    <div class="myWorks-btn">
        <div class="wrapper">
            <a href="#"><span>All</span></a>
          </div>

          <div class="wrapper">
            <a href="#"><span>Angular</span></a>
          </div>

          <div class="wrapper">
            <a href="#"><span>Java Script</span></a>
          </div>
    </div>

    <div class="row1">
        <img src="assets/img/sharkyy.jpg">
        <img src="assets/img/join.jpg">
    </div>

    <div class="row1">
        <img src="assets/img/pokedex.png">
        <img src="assets/img/quizApp.png">
    </div>

    <div class="row1">
        <img src="assets/img/notizbuch.png">
        <img src="assets/img/pexels-photo-546819-1024x680.jpeg">
    </div>

    <div id="row1" class="row1">
        <img src="assets/img/programmieren_software-entwickler-syntaxhervohebung.jpg">
        <img src="assets/img/monitor-for-programming.jpg">
    </div>
</div>
