.my-works-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  h2 {
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: Inter;
    margin-top: 75px;
    margin-bottom: 75px;
  }
}

.myWorks-btn {
  display: flex;

  @media(max-width:650px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    margin-bottom: 75px;
  }

  a {
    display: block;
    width: 160px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-family: Inter;
    text-decoration: none;
    color: white;
    border: 2px solid #fa2759;
    text-align: center;
    position: relative;
    transition: all 0.35s;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  a span {
    position: relative;
    z-index: 2;
  }

  a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fa2759;
    transition: all 0.35s;
  }

  a:hover {
    color: white;
  }

  a:hover:after {
    width: 100%;
  }
}

.row1 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;

  img {
    height: 350px;
    width: 500px;
    border-radius: 6px;
    margin-left: 15px;
    margin-right: 15px;
    object-fit: cover;

    @media(max-width:650px) {
      width: 440px;
      height: 300px;
    }
    @media(max-width:500px) {
      width: 350px;
      height: 200px;
    }
    @media(max-width:400px) {
      width: 300px;
      height: 180px;
    }
    @media(max-width:370px) {
      width: 280px;
      height: 180px;
    }
  }
}

#row1 {
  margin-bottom: 75px;
}

.slide {
  animation: slideContent 450ms ease-in-out;
  background-color: unset;
  margin-top: 125px;
}

@keyframes slideContent {
  from {
    transform: translateY(-1764px);
  }

  to {
    transform: translateY(0);
  }
}

.skill {
  position: relative;
}

.skill-deskription {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  display: none;

  @media(max-width:500px) {
    width: 270px;
  }

  span {
    font-size: 48px;
    color: #fa2759;

    @media(max-width:400px){
      font-size: 30px;
    }
  }

  p {
    font-size: 26px;
    text-align: center;
    width: 400px;
    @media(max-width:400px){
      font-size: 20px;
      max-width: 260px;
    }
  }
}

.show-discription {

  display: flex;
}

.filter {

  filter: brightness(0.2);
  transform: scale(1.05);
  transition: all 225ms ease-in-out;
}


@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, .076, 1)) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 18px;
  font-family: inherit;

  &.learn-more {
    width: 12rem;
    height: auto;

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: black;
      border-radius: 1.625rem;
      border: 2px solid;

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;

        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;

          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
      font-family: Inter;
      color: #fa2759;
    }
  }

  &:hover {
    .circle {
      width: 100%;

      .icon {
        &.arrow {
          background: white;
          transform: translate(1rem, 0);
        }
      }
    }

    .button-text {
      color: #fa2759;
      ;
    }
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}

.all-projects {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 30px;
}

.slide-left {

  animation: slideleft 1s ease 0s 1 normal forwards;
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

