<div class="my-works-content">

    <h2>My Works</h2>

    <div class="myWorks-btn">
        <button>All</button>
        <button>Angular</button>
        <button>Java Script</button>
    </div>

    <div class="row1">
        <img src="assets/img/Shakry.png">
        <img src="assets/img/Shakry.png">
    </div>

    <div class="row1">
        <img src="assets/img/Shakry.png">
        <img src="assets/img/Shakry.png">
    </div>

    <div class="row1">
        <img src="assets/img/Shakry.png">
        <img src="assets/img/Shakry.png">
    </div>

    <div id="row1" class="row1">
        <img src="assets/img/Shakry.png">
        <img src="assets/img/Shakry.png">
    </div>

</div>
