.my-works-content{

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    h2{

        color: white;
        text-align: center;
        font-size: 36px;
        font-family: Inter;
        margin-top: 75px;
        margin-bottom: 75px;
    }
}

.myWorks-btn{

    display: flex;
    
    // button{
    //     width: 160px;
    //     height: 60px;
    //     background-color: transparent;
    //     color: #FA2759;
    //     border: solid 1px;
    //     font-family: Inter;
    //     outline: none;
    //     font-size: 18px;
    //     margin-bottom: 75px;
    //     margin-left: 10px;
    //     border-radius: 6px;
    //     cursor: pointer;

    //     &:hover{

    //         color: black;
    //         background-color: #FA2759;

    //     }
    // }
        .wrapper{

            margin-bottom: 75px;
        }

        a{
          display: block;
          width: 160px;
          height: 60px;
          line-height: 60px;
          font-size: 18px;
          font-family: Inter;
          text-decoration: none;
          color: white;
          border: 2px solid #FA2759;
          text-align: center;
          position: relative;
          transition: all .35s;
          border-radius: 6px;
          margin-right: 10px;
          margin-left: 10px;
        }
        
        a span{
          position: relative;
          z-index: 2;
        }
        
        a:after{
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: #FA2759;
          transition: all .35s;
        }
        
        a:hover{
          color: white;
        }
        
        a:hover:after{
          width: 100%;
        }
}

.row1{

    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;

    img{

        height: 350px;
        width:500px;
        border-radius: 6px;
        margin-left: 25px;
        margin-right: 25px;
        object-fit: cover;
    }
}

#row1{

    margin-bottom: 75px;
}
