<div id="contact" class="contact-section">

    <div class="contact-content">

        <h2>Contact me.</h2>
        <p>Get in touch via the form below, or by emailing <span id="my-email">radwansultan@hotmail.de</span></p>
        <span>Name</span>
        <input type="text" placeholder="Enter your name">
        <span>Email address</span>
        <input type="text" placeholder="Enter your Email">
        <span>Message</span>
        <textarea placeholder="Enter your message"></textarea>
    </div>

    <div class="wrapper">
        <a href="#"><span>Send</span></a>
      </div>

</div>