html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

nav {

  position: fixed;
  top: 0;
  width: 100%;
  height: 121;
  z-index: 3;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  top: 0px;
  left: 0;
  right: 0;
  width: 80%;
  height: 120px;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid #2DFCD8;
}


.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  margin-top: 16px;

  a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
    cursor: pointer;
  }

  &:hover a {
    color: #FA2759;
  }

  &:not(:last-child) {
    margin-right: 80px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

nav {
  @media(max-width:880px) {
    display: none;
  }
}

.mobile-menu {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 100px;
  z-index: 1;
  transform: translateX(-780px);
  display: flex;
  align-items: center;

  a {
    color: white;
    margin-top: 15px;
    text-decoration: none;
    font-family: Inter;
    width: 80%;
    border: 1px solid #2dfcd8;
    padding: 8px;
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    font-size: 20px;

    &:hover {
      transform: scale(1.05);
      transition: all 225ms ease-in-out;
      border: 1px solid #FA2759;
    }

    @media(min-width:880px){
      display: none;
    }
  }

}

#menu-img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 50px;
  position: absolute;
  z-index: 2;
  display: none;
  cursor: pointer;

  @media(max-width:880px){
    display: block;
  }
}


.show-menu {

 transform: translateX(0px);
 transition: all 225ms ease-in-out;
 background-color: black;
 z-index: 3;
 height: 405px;

 @media(min-width:880px){
   display: none;
 }
}


#link5 {
  margin-top: 15px;
  height: 32px;
  width: 32px;
  margin-left: 20px;
  cursor: pointer;

  @media(min-width:880px){
    display: none;
  }
}

.hide-menu {
 transform: translateX(-780px);
 transition: all 225ms ease-in-out;
}