<section
  class="top-nav"
  *ngIf="!(router.url === '/imprint' || router.url === '/legalnotice') "
>
  <div class="logo-img">
    <img
      class="logo"
      src="assets/img/myLogo.png"
      (click)="scrolltoBanner()"
    >
  </div>
  <input
    id="menu-toggle"
    type="checkbox"
  />
  <label
    class='menu-button-container'
    for="menu-toggle"
  >
    <div class='menu-button'></div>
  </label>
  <ul class="menu">
    <li (click)="scrolltoBanner()">Home</li>
    <li (click)="scrolltoSkills()">Skills</li>
    <li (click)="scrolltoWorks()">Works</li>
    <li (click)="scrolltoAboutMe()">About me</li>
  </ul>
</section>
