html {
  scroll-behavior: smooth;
}

.banner {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;

  @media (max-width: 1300px) {
    font-size: 50px;
  }

  @media (max-width: 1150px) {
    font-size: 45px;
  }

  @media (max-width: 1024px) {
    font-size: 55px;
  }

  @media (max-width: 880px) {
    font-size: 50px;
  }
  @media (max-width: 580px) {
    font-size: 40px;
  }
  @media (max-width: 480px) {
    font-size: 30px;
  }
  @media (max-width: 380px) {
    font-size: 20px;
  }
}

.my-infos {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    margin-top: 120px;
  }
  @media (max-width: 880px) {
    flex-direction: column-reverse;
    margin-top: unset;
  }

  #my-name {
    color: #fa2759;
  }
}

@media (orientation:landscape) and (max-width:844px) {
  .my-infos{
    flex-direction: unset;
    font-size: 20px;
    img{
      width: 150px !important;
      height: 150px !important;
    }
    .wrapper{
      margin-top: 20px;
      a{
        width: 170px;
        height: 40px;
        line-height: 39px;
        font-size: 15px;
      }
    }
  }
  .show-menu{
    height: 70vh !important;
  }
 }

 @media (orientation:landscape) and (max-width:1024px) {
  .my-infos{
    flex-direction: unset;
    font-size: 20px;
    img{
      width: 150px !important;
      height: 150px !important;
    }
    .wrapper{
      margin-top: 20px;
      a{
        width: 170px;
        height: 40px;
        line-height: 39px;
        font-size: 15px;
      }
    }
  }
  .show-menu{
    height: 70vh !important;
  }
 }

#my-picture {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 7%;

  // @media(max-width:1300px) {

  //   width: 270px;
  //   height: 270px;
  // }

  @media (max-width: 1300px) {
    width: 250px;
    height: 250px;
  }
  @media (max-width: 580px) {
    width: 200px;
    height: 200px;
  }
  @media (max-width: 480px) {
    width: 150px;
    height: 150px;
  }
  @media (max-width: 380px) {
    width: 120px;
    height: 120px;
  }

  // @media(max-width:1024px) {

  //   position: absolute;
  //   top: 240px;
  // }

  // @media(max-width:550px) {

  //   position: absolute;
  //   top: 240px;
  //   height: 200px;
  //   width: 200px;
  // }
}

.banner-content {
  display: flex;
  flex-direction: column;

  // @media(max-width:1024px) {
  //   position: absolute;
  //   bottom: 184px;

  // }

  // @media(max-width:550px) {
  //   font-size: 40px;
  //   position: absolute;
  //   bottom: 250px;

  // }

  // @media(max-width:550px) {
  //   font-size: 30px;
  //   position: absolute;
  //   bottom: 250px;

  // }
}

.wrapper {
  margin-top: 75px;

  @media (max-width: 1024px) {
    align-self: end;
  }

  @media (max-width: 880px) {
    align-self: center;
  }
}

a {
  display: block;
  width: 220px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #2dfcd8;
  border: 2px solid #2dfcd8;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  border-radius: 6px;
  background-color: black;

  @media (max-width: 550px) {
    width: 150px;
  }
}

a span {
  position: relative;
  z-index: 2;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2dfcd8;
  transition: all 0.35s;
}

a:hover {
  color: black;
}

a:hover:after {
  width: 100%;
}

$base: 0.6rem;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fa2759;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }

  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }

  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
  }
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;

  height: 100px;
  width: 100px;
}

#span1 {
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#span2 {
  animation: myAnim 1s ease 0s 1 normal forwards;
  animation-delay: 225ms;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#span3 {
  animation: myAnim 1s ease 0s 1 normal forwards;
  animation-delay: 450ms;
}
