<div id="banner" class="banner">
  <div class="my-infos">
    <div class="banner-content">
      <span id="span1">Hi,</span>
      <span id="span2">I'm <span id="my-name">Radwan</span> Sultan</span>
      <span id="span3">Front End developer</span>

      <div class="wrapper">
        <a href=#contact><span>Contact me</span></a>
      </div>
    </div>
    <div>
      <img id="my-picture" src="assets/img/meinebild5.jpeg"/>
    </div>

<!--
    <div class="scroll-down">
      <div class="container">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>
    </div> -->
  </div>
  <ng-particles id="tsparticles" [options]="particlesOptions"></ng-particles>
</div>

