<div id="banner" class="banner">
  <div class="my-infos">
    <div class="banner-content">
      <span>Hi,</span>
      <span>I'm <span id="my-name">Radwan</span> Sultan</span>
      <span>Front End developer</span>

      <div class="wrapper">
        <a href="#"><span>Contact me</span></a>
      </div>
    </div>

    <img id="my-picture" src="assets/img/autorennen.jpg" />

    <div class="scroll-down">
      <img
        class="scroll-arrow"
        src="assets/img/scroll-down.png"
        (click)="scrollToMyskills()"
      />
    </div>
  </div>
</div>
