<div id="my-skills" class="my-skills" [class.slide]="router.url == '/myskills'">
  <h2 animateOnScroll animationName="scale1">My Skills</h2>
  <div animateOnScroll animationName="scale2" class="row1">
    <div class="skill">
      <div class="skill-img">
        <img src="assets/img/java script.png" />
      </div>
      <span>Java Script</span>
    </div>
    <div class="skill">
      <div class="skill-img">
        <img id="angular" src="assets/img/angularlogo.png" />
      </div>
      <span>Angular</span>
    </div>
    <div class="skill">
      <div class="skill-img">
        <img src="assets/img/Group 205.png" />
      </div>
      <span>HTML/CSS</span>
    </div>
  </div>

  <div class="row2" animateOnScroll animationName="scale3">
    <div class="skill">
      <div class="skill-img">
        <img src="assets/img/Group 226.png" />
      </div>
      <span>SCRUM</span>
    </div>
    <div class="skill">
      <div class="skill-img">
        <img src="assets/img/git.png" />
      </div>
      <span>Git</span>
    </div>
    <div class="skill">
      <div class="skill-img">
        <img src="assets/img/Group 20.png" />
      </div>
      <span>Design</span>
      <span>Thinking</span>
    </div>
  </div>

  <div class="row3" animateOnScroll animationName="scale4">
    <div class="skill">
      <div class="skill-img">
        <img src="assets/img/api.png" />
      </div>
      <span>Rest API</span>
    </div>
    <div class="skill">
      <div class="skill-img">
        <img src="assets/img/test-lab.png" />
      </div>
      <span>Test</span>
      <span>Automation</span>
    </div>
    <div class="skill">
      <div class="skill-img">
        <img src="assets/img/data.png" />
      </div>
      <span>Databases</span>
    </div>
  </div>
</div>
