html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  margin: 0;
  font-family: Inter;
}


canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
